/* ALL */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    font-weight: normal;
    color: #636363;
}
.container{
    max-width: 1199px;
    margin: auto;
}
.btn--1{
    padding: 20px 35px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 30px;
    cursor: pointer;
    line-height: 18px;
    outline: none;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    display: block;
    transition: all .5s;
}
.btn--1:hover{
    background-position: right center;
}
.title p{
    margin-bottom: 20px;
    color: #f55f8d;
    font-size: 22px;
    font-weight: 600;
}
.title h2{
    font-size: 70px;
    font-weight: 800;
    line-height: 1.1;
    color: #262626;
    margin-bottom: 20px;

}
.title--1{
    text-align: center;
}
.title--1 h3{
    font-size: 24px;
    font-weight: bold;
    color: #262626;
    margin: 15px 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

/* HEADER */
header{
    width: 100%;
    position: absolute;
}
.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__content .header__nav{
    display: flex;
    align-items: center;
}
.header__content ul{
    margin-right: 30px;
}
.header__content ul li{
    display: inline-block;
    padding: 55px 15px;
}
.header__content li a{
    color: #070120;
    font-weight: 500;
    font-size: 15px;
}
.header__content ul li i{
    font-size: 9px;
}
.header__content li a span{
    display: inline-block;
    transition: all .5s;
}
.header__content li a:hover span{
    animation: navRoll 0.3s;
    color: #f55f8d;
}
.header__content .active{
    color: #f55f8d;
}

/* CAROUSEL */
.saCarousel{
    background-image: url(../img/pic2.png);
    padding-top: 180px;
    overflow: hidden;
}
.saCarousel__content{
    display: flex;
    align-items: center;
}
.saCarousel__title{
    width: 60%;
}
.saCarousel__title > p:first-of-type{
    font-size: 18px;
    margin-bottom: 15px;
}
.p--style1{
    margin-bottom: 20px;
}
.p--style1 p{
    padding: 10px 0;
}
.p--style1 p i{
    font-size: 24px;
    font-weight: 900;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    color: #fff;
    margin-right: 10px;
}
.saCarousel__img{
    width: 40%;
}
.saCarousel__banner{
    margin-left: 50px;
}
.saCarousel__img img{
    display: block;
}

/* SERVICES */
.services{
    padding-top: 115px;
    background-image: url(../img/bg2.png);
    background-size: cover;
    background-position: top center;
    /* overflow: hidden; */
}
.services .title{
    text-align: center;
}
.services__content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 40px;
}
.services__item{
    padding: 30px 45px;
    background-color: #fff;
    border: 3px solid transparent;
    border-radius: 8px;
    /* box-shadow: h-shadow v-shadow blur spread color; */
    box-shadow: 0 0 60px rgba(0,0,0,0.1);
    transition: all .5s;
}
.services__item:hover{
    transform: translateY(-20px);
    border-image: url(../img/br.png) 1 round;
}
.services__img{
    text-align: center;
}
.services__img img{
    width: 215px;
}

/* ABOUT */
.about{
    padding: 115px 0 85px;
    overflow: hidden;
    background-image: url(../img/bg15.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center right;
}
.about__content{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}
.about__img{
    width: 60%;
    position: absolute;
    /* DI CHUYEN RA KHOI THE CHA*/
    left: -17%;
}
.about__detail{
    width: 50%;
}
.about__banner img{
    width: 100%;
    border-radius: 0 100px 100px 0;
}
.about__banner{
    margin-right: 90px;
    width: 100%;
}
.about__detail .about__list ul{
    margin: 15px 0 30px;
}
.about__detail .about__list li i{
    font-size: 24px;
    color: #f55f8d;
    margin-right: 10px;
    vertical-align: middle;
}

/* NUMBER */
.number{
    padding: 80px 0 50px;
    background-image: url(../img/bg14.png);
    background-position: center;
    background-repeat: no-repeat;
}
.number__content{
    display: flex;
    justify-content: space-around;
}
.number__item{
    text-align: center;
}
.number__item i{
    font-size: 45px;
    color: #fff;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 15px;
}
.number__item p:first-of-type{
    font-size: 65px;
    font-weight: 800;
    color: #f55f8d;
    line-height: 1;
}
.number__item p:last-of-type{
    font-size: 18px;
    color: #262626;
}

/* FEATURES */
.features{
    padding-top: 115px;
    background-image: url(../img/bg2.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.features__content{
    display: flex;
    align-items: center;
}
.features__detail, .features__img{
    width: 50%;
}
.features__banner{
    margin-right: -80px;
}
.features__img img{
    max-width: 100%;
    animation: featureMove 5s infinite;
}
.features__item{
    padding: 0 50px 30px 0;
}
.features__bg{
    background-color: #fff;
    box-shadow: 0 0 60px 0 rgba(0,0,0,0.1); 
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 30px;
    transition: all .5s;
}
#item--2{
    padding: 0 0 30px 50px;
}
.features__bg i{
    font-size: 80px;
    line-height: 1;
    color: #f55f8d;
}
.features__bg .title--1 {
    text-align: left;
    padding-left: 25px;
}
.features__bg .title--1 h3{
    margin: 0;
}
.features__hover{
    transition: all 1s;
}
.features__bg:hover{
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
}
.features__bg:hover .features__hover{
    color: #fff;
}

/* PORTFOLIO */
.portfolio{
    text-align: center;
}
.portfolio__gallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr) 1.5fr;
    gap: 35px;
}
.portfolio__gallery img{
    width: 100%;
    height: 100%;
}

.portfolio__item{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.portfolio__gallery .portfolio__item:first-of-type, .portfolio__gallery .portfolio__item:nth-of-type(5){
    grid-column: 1 / 3;
}
.portfolio__gallery .portfolio__item:last-of-type{
    grid-row: 2 / 4;
    grid-column: 3 / 4;
}
.portfolio__overlay{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: all .75s;
}
.portfolio__text{
    position: absolute;
    bottom: 30px;
    left: 30px;
    transform: translatey(100px);
    transition: all .75s;
}
.portfolio__icon{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 28px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    border-radius: 10px;
    transform: translate(19px, -19px);
    opacity: 0;
    transition: all .75s;
}
.portfolio__icon i{
    color: #fff;
}
.portfolio__item::before{
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    display: block;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    transform: skewX(-25deg);
    transition: all .75s;
}
.portfolio__item:hover .portfolio__overlay{
    opacity: 1;
}
.portfolio__item:hover .portfolio__icon{
    opacity: 1;
    transform: translate(0,0);
}
.portfolio__item:hover .portfolio__text{
    transform: translateY(0);
}
.portfolio__item:hover::before{
    left: 125%;
}

/* BLOG */
.blog{
    padding: 115px 0 85px;
    text-align: center;
    background-image: url(../img/bg16.png);
    background-size: cover;
    background-position: top center;
}
.blog__item{
    text-align: left;
    background-color: rgba(245, 95, 141, 0.1);
    border-radius: 8px;
}
.blog__header{
    position: relative;
}
.blog__header img{
    width: 100%;
    border-radius: 8px;
}
.blog__header p{
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    position: absolute;
    bottom: -20px;
    left: 15px;
}
.blog__text{
    padding: 30px 15px 20px;
    line-height: 1.4;
    margin-bottom: 20px;
    text-align: left;
}
.blog__text h3{
    margin: 0;
}
.blog__footer{
    padding: 15px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: normal;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.blog__footer p{
    margin-right: 20px;
}
.blog__footer i{
    font-size: 22px;
    color: #f55f8d;
    vertical-align: middle;
}
.blog__content .owl-theme .owl-nav {
    margin-top: 10px;
}
.blog__content .owl-theme .owl-nav span{
    margin: 5px;
}
.blog__content .owl-dots .owl-dot span{
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    transition: opacity .2s ease;
    border-radius: 30px;
}
.blog__content .owl-dots .owl-dot.active span, .blog__content .owl-dots .owl-dot:hover span{
    background-color: #869791;
}

/* FOOTER */
footer{
    background-image: url(../img/bg4.png);
    display: block;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0e1b1f;
    background-size: contain;
    color: #fff;
    font-size: 15px;
    position: relative;
}
footer::before{
    content: '';
    background-image: url(../img/pattern2.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.footer__form{
    padding: 50px 60px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.1);
    background-image: url(../img/pattern3.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    display: flex;
}
.footer__form .footer__text, .footer__form .footer__email{
    width: 50%;
}
.footer__text h2{
    font-size: 28px;
    color: #262626;
}
.footer__email form{
    display: flex;
    border-radius: 0.5rem;
    box-shadow: 0 0 60px 0 rgb(0, 0, 0, 0.1);
}
.footer__form form input{
    padding: 20px;
    background-color: #fff;
    font-size: 15px;
    font-weight: normal;
    color: #888;
    flex: 1 1 auto;
    border: 1px solid #fff;
    border-radius: 8px 0 0 8px;
    outline: none;
    transition: border-color .5s;
}
.footer__form form input:hover, .footer__form form input:focus{
    border-color: #f55f8d;
}

.footer__form form button{
    cursor: pointer;
    padding: 20px 35px;
    font-size: 20px;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    border-color: transparent;
    border-radius: 0 8px 8px 0;
    color: white;
    transition: all 0.5s;
}
.footer__form form button:hover{
    background-position: right center;
}
.footer__form form button:hover i{
    animation: btnRoll .3s linear 1;
}
.footer__content{
    display: flex;
    padding: 70px 0;
    position: relative;
}
.footer__item{
    width: 25%;
}
.footer__item li{
    padding: 8px 0;
}
.footer__item i{
    margin-right: 10px;
    font-weight: bold;
}
.footer__contact ul li{
    display: flex;
    align-items: center;
}
.footer__contact li i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    border-radius: 50%;
    display: block;
}
.footer__item h3{
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 30px;
    position: relative;
}
.footer__item h3::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 15px;
    height: 4px;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    border-radius: 16px;
}
.footer__item h3::after{
    content: '';
    width: 45px;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 20px;
    border-radius: 16px;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
}
.footer__item a{
    color: #636363;
    font-size: 16px;
    transition: all .5s;
}
.footer__item a:hover{
    color: #fff;
}
.footer__copyright{
    padding: 10px 0;
    background-color: #1f343b;
    position: relative;
}
.footer__bottom{
    display: flex;
    justify-content: space-between;
}
.footer__bottom span{
    color: #f55f8d;
}
.footer__copyright a {
    height: 32px;
    width: 32px;
    line-height: 32px;
    text-align: center;
    display: inline-block;
    border-radius: 50px;
    font-size: 14px;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.5s;
}
.footer__copyright a:hover{
    background-color: #f55f8d;
}

/* BACK TO TOP */
.back-to-top{
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 8px;
    background-color: #f55f8d;
    display: block;
    position: fixed;
    right: 15px;
    bottom: 15px;
    color: #fff;
    box-shadow: -4px 4px 24px -10px #f55f8d;
    visibility: hidden;
    opacity: 0;
}
.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

.cd-top--fade-out {
  opacity: .5;
}

/* ANIMATION */
@keyframes navRoll {
    49%{
        transform: translateY(100%);
    }
    50%{
        opacity: 0;
        transform: translateY(-100%);
    }
    51%{
        opacity: 1;
    }
}
@keyframes featureMove {
    0%{
        transform: rotate(1deg) translate(2px, 2px);
    }
    50%{
        transform: rotate(-1deg) translate(-2px, -2px);
    }
    100%{
        transform: rotate(1deg) translate(2px, 2px);
    }
}
@keyframes btnRoll {
    49%{
        transform: translateX(100%);
    }
    50%{
        opacity: 0;
        transform: translateX(-100%);
    }
    51%{
        opacity: 1;
    }
}