/* ALL */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    font-family: 'Roboto', sans-serif;
    line-height: 26px;
    font-weight: normal;
    color: #636363;
}
.container{
    max-width: 1199px;
    margin: auto;
}
.btn--1{
    padding: 20px 35px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 30px;
    cursor: pointer;
    line-height: 18px;
    outline: none;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    display: block;
    transition: all .5s;
}
.btn--1:hover{
    background-position: right center;
}
.title p{
    margin-bottom: 20px;
    color: #f55f8d;
    font-size: 22px;
    font-weight: 600;
}
.title h2{
    font-size: 70px;
    font-weight: 800;
    line-height: 1.1;
    color: #262626;
    margin-bottom: 20px;

}
.title--1{
    text-align: center;
}
.title--1 h3{
    font-size: 24px;
    font-weight: bold;
    color: #262626;
    margin: 15px 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

/* HEADER */
header{
    width: 100%;
    position: absolute;
}
.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__content .header__nav{
    display: flex;
    align-items: center;
}
.header__content ul{
    margin-right: 30px;
}
.header__content ul li{
    display: inline-block;
    padding: 55px 15px;
}
.header__content li a{
    color: #070120;
    font-weight: 500;
    font-size: 15px;
}
.header__content ul li i{
    font-size: 9px;
}
.header__content li a span{
    display: inline-block;
    transition: all .5s;
}
.header__content li a:hover span{
    animation: navRoll 0.3s;
    color: #f55f8d;
}
.header__content .active{
    color: #f55f8d;
}

/* CAROUSEL */
.saCarousel{
    background-image: url(../img/pic2.png);
    padding-top: 180px;
    overflow: hidden;
}
.saCarousel__content{
    display: flex;
    align-items: center;
}
.saCarousel__title{
    width: 60%;
}
.saCarousel__title > p:first-of-type{
    font-size: 18px;
    margin-bottom: 15px;
}
.p--style1{
    margin-bottom: 20px;
}
.p--style1 p{
    padding: 10px 0;
}
.p--style1 p i{
    font-size: 24px;
    font-weight: 900;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    color: #fff;
    margin-right: 10px;
}
.saCarousel__img{
    width: 40%;
}
.saCarousel__banner{
    margin-left: 50px;
}
.saCarousel__img img{
    display: block;
}

/* SERVICES */
.services{
    padding-top: 115px;
    background-image: url(../img/bg2.png);
    background-size: cover;
    background-position: top center;
}
.services .title{
    text-align: center;
}
.services__content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 40px;
}
.services__item{
    padding: 30px 45px;
    background-color: #fff;
    border: 3px solid transparent;
    border-radius: 8px;
    /* box-shadow: h-shadow v-shadow blur spread color; */
    box-shadow: 0 0 60px rgba(0,0,0,0.1);
    transition: all .5s;
}
.services__item:hover{
    transform: translateY(-20px);
    border-image: url(../img/br.png) 1 round;
}
.services__img{
    text-align: center;
}
.services__img img{
    width: 215px;
}
/* ANIMATIOn */
@keyframes navRoll {
    49%{
        transform: translateY(100%);
    }
    50%{
        opacity: 0;
        transform: translateY(-100%);
    }
    51%{
        opacity: 1;
    }
}